@{
    ViewBag.Title = "How To Get Tweets";
}
<div class="wrapper2">
    <div class="pad">
        <div class="text-center">
            <div class="row">
                <div class="col">
                    <h1>How to get Tweets via the API</h1>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="allign">
                    On this page, I am going to show how to retreieve a user's name, the tweet, when the tweet was created, the language of the tweet, the amount of retweets and favourites.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="allign">
                    The first thing we need to do is to create a class which will act as an object for all of this data. I am going to be calling this class 'TweetDetails' and this is shown in the image below.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="text-center">
                    <img src="~/images/tweetDetails.png" id="tweetDetails" alt="Class to represent Tweet details" style="width: 30%; height: 80%;  border: 1px solid; border-radius: 15px;">
                </div>
                <div class="text-center"><b>Click image to expand</b></div>
            </div>
        </div>

        <div id="tw" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="twImg">
            <div id="caption" style="color: white; text-align: center; margin-top: 8%"></div>
        </div>

        <div class="row">
            <div class="col">
                <div class="allign">
                    You can now make a request to Twitter and save the reults into this object. In order to do this I used this <a href="https://stackoverflow.com/questions/18639108/return-all-tweets-from-my-timeline">code</a> given by Joe Mayo.
                    I created a new method in my main program and called it GetTweets, I copied the code from Joe Mayo and only returned the information I wanted by adding this to the TweetDetails object as shown below.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="text-center">
                    <img src="~/images/getTweet.png" id="getTweets" alt="image" style="width: 30%; height: 80%;  border: 1px solid; border-radius: 15px;">
                </div>
                <div class="text-center"><b>Click image to expand</b></div>
            </div>
        </div>

        <div id="gt" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="gtImg">
            <div id="caption1" style="color: white; text-align: center; margin-top: 8%"></div>
        </div>

        <div class="row">
            <div class="col">
                <div class="allign">
                    <b>If you are creating a Console app you can print these details directly to the console.</b>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="allign">
                    In order to print out all the tweet details to the console, we will need to alter the main method of the program as shown below.
                    As you can see in the image, we have added code to print out all the details we have just retrieved from the API.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="text-center">
                    <img src="~/images/printTweets.png" id="printTweets" alt="How to print tweet details" style="width: 51%; height: 80%;  border: 1px solid; border-radius: 15px;">
                </div>
                <div class="text-center"><b>Click image to expand</b></div>
            </div>
        </div>

        <div id="pt" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="ptImage">
            <div id="caption2" style="color: white; text-align: center; margin-top: 8%"></div>
        </div>

        <div class="row">
            <div class="col">
                <div class="allign">
                    This will always bring back the latest tweets for a user. If you want to see the results of this method click the 'User Tweets' section within the Demo tab.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div style="clear: both; margin-left: auto; margin-right: auto; display: table; margin-top: 2%;">
                    @Html.ActionLink("Previous", "HowToGetUserDetails", "Tutorial", null, new { @class = "prev" })
                    @Html.ActionLink("Next", "HowToSendTweets", "Tutorial", null, new { @class = "next" })
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        // Get the modal
        var modal = document.getElementById('tw');

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.getElementById('tweetDetails');
        var modalImg = document.getElementById("twImg");
        var captionText = document.getElementById("caption");
        var navbar = document.getElementById("navbar");
        var style = navbar.style.display;

        img.onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
            captionText.innerHTML = this.alt;
            navbar.style.display = "none";
        }

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
            navbar.style.display = style;
        }
    </script>
    
    <script type="text/javascript">
        // Get the modal
        var modal = document.getElementById('gt');

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.getElementById('getTweets');
        var modalImg = document.getElementById("gtImg");
        var captionText = document.getElementById("caption1");
        var navbar = document.getElementById("navbar");
        var style = navbar.style.display;

        img.onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
            captionText.innerHTML = this.alt;
            navbar.style.display = "none";
        }

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[1];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
            navbar.style.display = style;
        }
    </script>

    <script type="text/javascript">
        // Get the modal
        var modal = document.getElementById('pt');

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.getElementById('printTweets');
        var modalImg = document.getElementById("ptImage");
        var captionText = document.getElementById("caption2");
        var navbar = document.getElementById("navbar");
        var style = navbar.style.display;

        img.onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
            captionText.innerHTML = this.alt;
            navbar.style.display = "none";
        }

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[2];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
            navbar.style.display = style;
        }
    </script>
    
}
