@{
    ViewBag.Title = "How To Get Tweets";
}
<div class="wrapper2">
    <div class="pad">
        <div class="text-center">
            <div class="row">
                <div class="col">
                    <h1>How to get Tweets via the API</h1>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="allign">
                    The first thing we need to do is call the method which connects us to twitter e.g.Call the ConnectionToTwitter class.
                    There are numerous ways to do this but I would suggest creating a static instace of the ConnectionToTwitter class within your main program class as shown below.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="text-center">
                    <img src="~/images/staticConnection.png" id="staticConnection" alt="Connection to Twitter" style="width: 35%; height: 80%;  border: 1px solid; border-radius: 15px;">
                </div>
                <div class="text-center"><b>Click image to expand</b></div>
            </div>
        </div>

        <div id="sc" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="scImg">
            <div id="caption"></div>
        </div>

        <div class="row">
            <div class="col">
                <div class="allign">
                    Once we have imported this class into our main program we will need to store the valid authentication into a variable. We can then use this variable to create a TwitterContext which will allow us to request information from Twitter.
                    We can pass the TwitterConext method our authentication variable as shown below.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="text-center">
                    <img src="~/images/authVariable.png" id="authVariable" alt="Authenication to Twitter" style="width: 35%; height: 80%;  border: 1px solid; border-radius: 15px;">
                </div>
                <div class="text-center"><b>Click image to expand</b></div>
            </div>
        </div>

        <div id="av" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="avImg">
            <div id="caption"></div>
        </div>

        <div class="row">
            <div class="col">
                <div class="allign">
                    You should now decide what information we want to return from the tweet. In this example, I am going to be returning the following; username, tweet, creation time of tweet, language of the tweet, retweet amount, favourite amount.
                    In order to achieve this, we should create a class which acts as the object for all of this information. I am going to be calling this class 'TweetDetails'.
                    My implemenation of the 'TweetDetails' class is shown below.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="text-center">
                    <img src="~/images/tweetDetails.png" id="tweetDetails" alt="Class to represent information we want to display" style="width: 30%; height: 80%;  border: 1px solid; border-radius: 15px;">
                </div>
                <div class="text-center"><b>Click image to expand</b></div>
            </div>
        </div>

        <div id="tw" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="twImg">
            <div id="caption"></div>
        </div>

        <div class="row">
            <div class="col">
                <div class="allign">
                    You can now make a request to Twitter and save the reults into this object. In order to do this I used this <a href="https://stackoverflow.com/questions/18639108/return-all-tweets-from-my-timeline">code</a> given by Joe Mayo.
                    I created a new method in my main program and called it GetTweets, I copied the code from Joe Mayo and only returned the information I wanted by adding this to the TweetDetails object as shown below.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="text-center">
                    <img src="~/images/getTweet.png" id="getTweets" alt="image" style="width: 30%; height: 80%;  border: 1px solid; border-radius: 15px;">
                </div>
                <div class="text-center"><b>Click image to expand</b></div>
            </div>
        </div>

        <div id="gt" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="gtImg">
            <div id="caption"></div>
        </div>

        <div class="row">
            <div class="col">
                <div class="allign">
                    <b>If you are creating a Console app you can print these details directly to the console.</b>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="allign">
                    In order to print out all of the tweet details we will need to loop through the list which contains all of the tweet details.
                    The amount in the list will correspond to the number of tweets for that user. For example if there are 5 items in the list, this will mean that the user has only sent 5 tweets.
                    The code used to display the information for each tweet is shown below.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="text-center">
                    <img src="~/images/printTweets.png" id="printTweets" alt="How to print tweet details" style="width: 51%; height: 80%;  border: 1px solid; border-radius: 15px;">
                </div>
                <div class="text-center"><b>Click image to expand</b></div>
            </div>
        </div>

        <div id="pt" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="ptImage">
            <div id="caption"></div>
        </div>

        <div class="row">
            <div class="col">
                <div class="allign">
                    This will always bring back the latest tweets for a user. Please click the 'Get Tweets' item in the menu if you want to see this information displayed on the webpage.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="allign">
                    <b>If you are making a web application you will need to print details to the webpage</b>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="allign">
                    The easiest way to do this is to open a View and provide the view with a reference to the TweetDetails model as shown below. You will then be able to print out all details for the model.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="text-center">
                    <img src="~/images/displayTweetsWebpage.png" id="displayTweetsWebpage" alt="Shows how to print information on a webpage" style="width: 51%; height: 80%;  border: 1px solid; border-radius: 15px;">
                </div>
                <div class="text-center"><b>Click image to expand</b></div>
            </div>
        </div>

        <div id="dtw" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="dtwImg">
            <div id="caption"></div>
        </div>

        <div class="row">
            <div class="col">
                <div style="clear: both; margin-left: auto; margin-right: auto; display: table; margin-top: 2%;">
                    @Html.ActionLink("Previous", "Connect", "Tutorial", null, new { @style = "float:left; background-color:#333; color:white; width:200px; border-radius:15px; padding:20px 0 20px 0; text-align:center; margin-right:5px;" })
                    @Html.ActionLink("Next", "HowToSendTweets", "Tutorial", null, new { @style = "float:left; background-color:#333; color:white; width:200px; border-radius:15px; padding:20px 0 20px 0; text-align:center;" })
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        // Get the modal
        var modal = document.getElementById('dtw');

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.getElementById('displayTweetsWebpage');
        var modalImg = document.getElementById("dtwImg");
        var captionText = document.getElementById("caption");
        var navbar = document.getElementById("navbar");
        var style = navbar.style.display;

        img.onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
            captionText.innerHTML = this.alt;
            navbar.style.display = "none";
        }

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
            navbar.style.display = style;
        }
    </script>

    <script type="text/javascript">
        // Get the modal
        var modal = document.getElementById('pt');

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.getElementById('printTweets');
        var modalImg = document.getElementById("ptImage");
        var captionText = document.getElementById("caption");
        var navbar = document.getElementById("navbar");
        var style = navbar.style.display;

        img.onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
            captionText.innerHTML = this.alt;
            navbar.style.display = "none";
        }

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
            navbar.style.display = style;
        }
    </script>

    <script type="text/javascript">
        // Get the modal
        var modal = document.getElementById('gt');

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.getElementById('getTweets');
        var modalImg = document.getElementById("gtImg");
        var captionText = document.getElementById("caption");
        var navbar = document.getElementById("navbar");
        var style = navbar.style.display;

        img.onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
            captionText.innerHTML = this.alt;
            navbar.style.display = "none";
        }

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
            navbar.style.display = style;
        }
    </script>

    <script type="text/javascript">
        // Get the modal
        var modal = document.getElementById('tw');

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.getElementById('tweetDetails');
        var modalImg = document.getElementById("twImg");
        var captionText = document.getElementById("caption");
        var navbar = document.getElementById("navbar");
        var style = navbar.style.display;

        img.onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
            captionText.innerHTML = this.alt;
            navbar.style.display = "none";
        }

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
            navbar.style.display = style;
        }
    </script>

    <script type="text/javascript">
        // Get the modal
        var modal = document.getElementById('av');

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.getElementById('authVariable');
        var modalImg = document.getElementById("avImg");
        var captionText = document.getElementById("caption");
        var navbar = document.getElementById("navbar");
        var style = navbar.style.display;

        img.onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
            captionText.innerHTML = this.alt;
            navbar.style.display = "none";
        }

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
            navbar.style.display = style;
        }
    </script>

    <script type="text/javascript">
        // Get the modal
        var modal = document.getElementById('sc');

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.getElementById('staticConnection');
        var modalImg = document.getElementById("scImg");
        var captionText = document.getElementById("caption");
        var navbar = document.getElementById("navbar");
        var style = navbar.style.display;

        img.onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
            captionText.innerHTML = this.alt;
            navbar.style.display = "none";
        }

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
            navbar.style.display = style;
        }
    </script>
}
