
@{
    ViewBag.Title = "Prerequisites";
}
<div class="wrapper3">
    <div class="pad">
        <div class="text-center">
            <div class="row">
                <div class="col">
                    <h1>Prerequisites</h1>
                </div>
            </div>
        </div>

        <div class="row" style="clear: both; margin-left: auto; margin-right: auto; margin-top: 2%;">
            <div class="col">
                <ul class="bullet-section">
                    <li class="bulllet">
                        You must have a Twitter account. If you do not have an account, please create one using the link <a href="https://twitter.com/signup?lang=en-gb">here</a>
                    </li>
                    <li class="bulllet">
                        Access to a C# or .Net compiler such as Visual Studio
                    </li>
                    <li class="bulllet">
                        You can only submit 15 requests every 15 minutes
                    </li>
                    <li class="bulllet">
                        You can only request information from non private accounts
                    </li>
                </ul>
            </div>
        </div>

        <div class="text-center">
            <div>Click the link below to continue</div>
        </div>

        <div class="row">
            <div class="col">
                <div class="text-center">
                    @Html.ActionLink("Next", "TwitterApp", "Tutorial", null, new { @style = "background-color:#333; color:white; margin-top:4%; width:20%; border-radius:15px; padding:20px 0 20px 0;", @class = "btn btn-default" })
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="bottom2">
    <a href="mailto:t.noronha1@uni.brighton.ac.uk">Email Tom Noronha</a>
    <br />
    <small>© 2018, Tom Noronha.</small>
</footer>

@section scripts{
    <script type="text/javascript">
        var footer = document.getElementById("footer");
        footer.style.display = "none";
    </script>
}